.cart-icon {
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 4px;

  .shopping-icon {
    width: 4rem;
    height: 4rem;
  }

  .item-count {
    position: absolute;
    font-size: 1.5rem;
    font-weight: old;
    bottom: 1.1rem;
  }
}
