body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  // color: $color-grey-dark;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;

  &--main {
    display: block;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    
    @media screen and (max-width: 800px) {
      font-size: 45px;
    }

    // @include respond(phone) {
    //   letter-spacing: 1rem;
    //   font-family: 5rem;
    // }
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.75rem;
    animation: moveInRight 1s ease-out;

    @media screen and (max-width: 800px) {
      font-size: 15px;
    }
    // @include respond(phone) {
    //   letter-spacing: .5rem;
    //   font-family: 5rem;
    // }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba(225, 225, 225, 0.6), rgba(62, 63, 62, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;

  @media screen and (max-width: 800px) {
    margin-top: 10px;
    font-size: 20px;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}

.paragraph {
  font-size: $default-font-size;

  @media screen and (max-width: 800px) {
    font-size: 8px;
  }
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
